@import "normalize";
@import "fonts";
@import "typography";
@import "colors";
@import "header";
@import "intro";
@import "work";
@import "words";
@import "footer";
@import "buttons";
@import "blog";
@import "post";
@import "syntax-highlighting";

body {
  @include font-normal;
  @include base-size;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

#main {
  max-width: em(720px);
  margin: 0 auto;
}

a {
  color: $pink;
  text-decoration: none;
}

h1, h2, h3, h4, a {
  @include base-size;
  font-weight: normal;
}

code {
  @include font-monospace;

  &.highlighter-rouge {
    $padding: 0.2em;
    font-size: 0.8em;
    padding-left: $padding;
    padding-right: $padding;
  }
}

.highlighter-rouge {
  background-color: $ultra-light-gray;

  .highlight {
    padding: 0.5em;
  }
}

ul, ol, blockquote {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.projects, .endorsement {
  display: none;
}
