<footer class="site-footer">
  <p>What are you waiting for? Send us an <a class="email" href="mailto:info@fullyforged.com?subject=Hello">email</a>.
  Follow us on <a class="twitter" href="https://twitter.com/fully_forged">Twitter</a>. Or <a class="github" href="https://github.com/fully-forged">GitHub</a>.</p>
  <div class="contacts">
    <span class="tel">+447742143400</span>
    <span class="email">info@fullyforged.com</span>
  </div>
  <div id="hcard-Claudio-Ortolina" class="vcard">
    <span class="org">Fully Forged Ltd.</span>
    <div class="adr">
      <span class="street-address">44, North Point</span>
      <span class="locality">London</span>
      <span class="postal-code">N8 7HF</span>
      <div class="country-name">United Kingdom</div>
    </div>
  </div>
</footer>
