<section class="projects">
  <h1>Recent projects</h1>
  <article>
    <span class="date">Sep 2015</span>
    <h1>Freelance board</h1>
    <h2>Elixir, Javascript, Material Design</h2>
    <p>Streamlined client management for the freelancer: track clients and log communication/events, receive reminders to keep the communication fresh.</p>
  </article>
</section>
<section class="endorsement">
  <h1>Not sure? Trust them!</h1>
  <blockquote>
    “Claudio is a very skilled developer who knows how to do stuff the right way. It’s been a fantastic experience. He’s such a charming guy.”
  </blockquote>
  <cite>Some random dude</cite>
</section>
