<section id="words">
  <h1>Latest articles</h1>
  <section class="posts">
    <article>
      <h1>The Problem of State</h1>
      <h2>July 2015</h2>
      <p>When we build client-side applications, most of the problems we face are related to state management: what elements on screen need to be in sync with each other, how do we track changes locally and from the server, how do we effectively handle computed properties (like a user’s complete address when it’s composed by separate pieces of data).</p>
      <p>What can we do to tame this complexity? In this post we’ll explore some ideas and lay out the basis for a unified strategy.</p>
      <a class="more" href="https://www.new-bamboo.co.uk/blog/2015/07/23/the-problem-of-state/">Read more</a>
    </article>
    <article>
      <h1>Prototyping an Analytics Service with PostgreSQL and Clojure</h1>
      <h2>June 2015</h2>
      <p>During our last hack day I decided to work on a proof of concept for an analytics service, with the goal of being able to instrument any of our running applications…</p>
      <a class="more" href="https://www.new-bamboo.co.uk/blog/2015/03/16/prototyping-an-analytics-service-with-postgresql-and-clojure/">Read more</a>
    </article>
  </section>
</section>
