<section id="work">
  <article class="development">
    <section>
      <h1>We build (and maintain)</h1>
      <ul>
        <li><span class="accent-secondary">Elixir</span> applications</li>
        <li>Single-page <span class="accent-secondary">JavaScript</span> applications</li>
        <li><span class="accent-secondary">Ruby</span> applications</li>
      </ul>
    </section>
    <aside>
      <a class="button" href="mailto:info@fullyforged.com?subject=Development inquiry">Hire us!</a>
      <p>Current availability starts <span class="accent-secondary">September 2015</span></p>
    </aside>
  </article>
  <article class="training">
    <section>
      <h1>We teach</h1>
      <ul>
        <li>Basic to intermediate <span class="accent-primary">Elixir</span></li>
        <li><span class="accent-primary">Elixir</span> in practice: <span class="accent-primary">API</span>s with <span class="accent-primary">Phoenix</span></li>
        <li>Basic to intermediate <span class="accent-primary">JavaScript</span></li>
        <li>JavaScript <span class="accent-primary">single page applications</span></li>
      </ul>
    </section>
    <aside>
      <a class="button" href="mailto:info@fullyforged.com?subject=Training inquiry">Hire us!</a>
      <p>Current availability starts <span class="accent-primary">October 2015</span></p>
    </aside>
  </article>
</section>
