<section class="work">
  <article class="development">
    <h1>We build (and maintain)</h1>
    <section>
      <ul>
        <li><span class="accent-secondary">Elixir</span> applications</li>
        <li>Single-page <span class="accent-secondary">JavaScript</span> applications</li>
        <li><span class="accent-secondary">Ruby</span> applications</li>
      </ul>
      <aside>
        <a class="button" href="#hire-us">Hire us!</a>
        <p>Current availability starts <span class="accent-secondary">September 2015</span></p>
      </aside>
    </section>
  </article>
  <article class="training">
    <h1>We teach</h1>
    <section>
      <ul>
        <li>Basic to intermediate <span class="accent-primary">Elixir</span></li>
        <li><span class="accent-primary">Elixir</span> in practice: <span class="accent-primary">API</span>s with <span class="accent-primary">Phoenix</span></li>
        <li>Basic to intermediate <span class="accent-primary">JavaScript</span></li>
        <li>JavaScript <span class="accent-primary">single page applications</span></li>
      </ul>
      <aside>
        <a class="button" href="#hire-us">Hire us!</a>
        <p>Current availability starts <span class="accent-primary">October 2015</span></p>
      </aside>
    </section>
  </article>
</section>
