<section class="work">
  <article>
    <h1>We build (and maintain)</h1>
    <ul>
      <li><span class="accent-secondary">Elixir</span> applications</li>
      <li>Single-page <span class="accent-secondary">Javascript</span> applications</li>
      <li><span class="accent-secondary">Ruby</span> applications</li>
    </ul>
    <aside>
      <button>Hire us!</button>
      <p>Current availability starts October 2015</p>
    </aside>
  </article>
  <article>
    <h1>We teach</h1>
    <ul>
      <li>Basic to intermediate Elixir</li>
      <li>Elixir in practice: APIs with Phoenix</li>
      <li>Basic to intermediate Javascript</li>
      <li>Single-page architecture for Javascript applications</li>
    </ul>
    <aside>
      <button>Hire us!</button>
      <p>Current availability starts September 2015</p>
    </aside>
  </article>
</section>
