@import "typography";
@import "colors";

#blog {
  @extend .centered-column;
  margin-top: 4em;

  > h1 {
    @include pink-title;
    margin-bottom: 2em;
  }

  article {
    margin-bottom: 3em;

    .post-link {
      color: $black;
    }

    h1 {
      @include gray-title;
      margin-bottom: 1em;
    }

    p {
      color: darken($light-gray, 20%);
    }
  }
}
