$yellow: #f99f3d;
$orange: #e54b1c;
$teal: #49a0b3;
$dark-gray: #878787;
$light-gray: #c2c2c2;
$black: #4c4c4c;
$green: #43bb6d;
$blue: #58afc0;

.accent-primary {
  color: $orange;
}

.accent-secondary {
  color: $yellow;
}
