$font-stack: "futura-pt", Helvetica, Arial;

@mixin font-normal {
  font-family: $font-stack;
  font-weight: 400;
}

@mixin font-heavy {
  font-family: $font-stack;
  font-weight: 700;
}

@mixin font-monospace {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
