@import "colors";
@import "breakpoints";
@import "typography";
@import "fonts";

.site-footer {
  border-top: 1px solid $ultra-light-gray;
  margin-top: 3em;
  margin-bottom: 2em;
  padding-top: 2em;

  p {
    @include base-size;

    @include respond-max($phone-portrait) {
      text-align: center;
    }
  }

  a.email {
    color: $orange;
  }

  a.twitter {
    color: $green;
  }

  a.github {
    color: $blue;
  }

  .contacts, .vcard {
    @include small-size;
    @include font-heavy;
    color: $light-gray;
    margin-bottom: 1em;
    text-align: center;

    @include respond-min($tablet-portrait) {
      display: inline;
    }
  }

  .contacts {
    margin-top: 2em;

    @include respond-max($phone-portrait) {
      @include display(flex);
      @include justify-content(space-between);
    }

    @include respond-min($phone-portrait) {
      .tel, .email {
        margin-right: 0.5em;
      }
    }
  }

  .vcard {
    @include respond-min($phone-portrait) {
      div {
        display: inline;
      }
    }
  }
}
