@import "bourbon/bourbon";
@import "breakpoints";
@import "mixins";
@import "fonts";
@import "colors";

a {
  @include font-heavy;
  text-decoration: none;
}

.site-header {
  @include display(flex);
  @include flex-direction(column-reverse);
  text-align: center;
  margin: 2em 0 0;

  @include respond-min($tablet-portrait) {
    @include flex-direction(row);
    @include justify-content(space-between);
    margin-top: 0;
  }

  nav {
    @include display(flex);
    @include justify-content(space-between);
    width: 14em;
    margin-right: 1em;

    @include respond-max($tablet-portrait) {
      margin: 0 auto;
    }

    @include respond-min($tablet-portrait) {
      @include align-items(center);
    }
  }

  a {
    color: $dark-gray;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  img {
    margin: 1em auto;
    width: 6em;
  }
}
