@import "bourbon/bourbon";
@import "breakpoints";
@import "mixins";
@import "fonts";
@import "colors";
@import "typography";

.site-header {
  @include display(flex);
  @include flex-direction(column-reverse);
  text-align: center;
  margin: 2em 0 0;

  @include respond-min($tablet-portrait) {
    @include flex-direction(row);
    @include justify-content(space-between);
    margin-top: 1em;
  }

  a {
    @include font-heavy;
    @include small-size;

    &:nth-child(1):hover {
      color: $teal;
    }

    &:nth-child(2):hover {
      color: $pink;
    }

    &:nth-child(3):hover span{
      &:nth-child(1) {
        color: $yellow;
      }

      &:nth-child(2) {
        color: $orange;
      }
    }
  }

  nav {
    @include display(flex);
    @include justify-content(space-between);
    width: 14em;
    margin-right: 1em;

    @include respond-max($tablet-portrait) {
      margin: 0 auto;
    }

    @include respond-min($tablet-portrait) {
      @include align-items(center);
    }
  }

  a {
    @include small-size;
    color: $dark-gray;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  img {
    margin: 1em auto;
    width: 7.5em;
  }
}
