@import 'fonts';
@import 'typography';
@import 'colors';
@import 'breakpoints';

.intro {
  @include respond-min($tablet-portrait) {
    width: 80%;
  }

  @include respond-min($tablet-landscape) {
    width: 70%;
  }

  h1 {
    text-transform: uppercase;
    @include mega-font-size;
    margin-bottom: 1.5em;

    @include respond-max($phone-landscape) {
      text-align: center;
    }
  }

  p {
    display: none;

    @include respond-min($tablet-portrait) {
      display: block;
      color: $dark-gray;
      margin-bottom: 2em;
    }
  }
}
