@mixin respond-max($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin respond-min($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

.centered-column {
  max-width: rem(720px);
  margin-left: auto;
  margin-right: auto;

  @include respond-max($tablet-portrait) {
    padding-left: rem(16px);
    padding-right: rem(16px);
  }
}
