@import "fonts";
@import "colors";

@mixin pink-title {
  @include font-heavy;
  font-size: 1em;
  text-transform: uppercase;
  color: $pink;
  letter-spacing: 2px;
}

@mixin gray-title {
  @include font-heavy;
  font-size: 1em;
  line-height: 1.2em;
  letter-spacing: 1.75px;
}
