@import "fonts";
@import "colors";
@import "breakpoints";
@import "typography";

#words {
  margin-top: 3em;

  .posts {
    @include respond-min($tablet-portrait) {
      @include display(flex);
    }
  }

  > h1 {
    @include pink-title;
    @include small-size;
  }

  article {
    @include respond-min($tablet-portrait) {
      width: 44%;
      margin-right: 6%;
      &:last-child {
        margin-right: 0;
      }
    }
    h1 {
      @include gray-title;
      @include base-size;
    }
    h2 {
      @include base-size;
      color: $pink;
      font-style: italic;
    }
    @include respond-max($phone-portrait) {
      &:last-of-type {
        display: none;
      }
    }

    .more {
      @include small-size;
      text-transform: uppercase;
      font-style: italic;
    }

    .credit {
      font-size: 0.9em;

      a {
        color: $dark-gray;
      }
    }
  }
}
