@import 'fonts';
@import 'typography';
@import 'colors';

#work {
  section {
    &.development {
      background-color: rgba($yellow, 0.1);
    }
    &.training {
      background-color: rgba($orange, 0.1);
    }
  }
  article {
    @extend .centered-column;
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    text-align: center;
    padding: 1.5em 1.5em 0.5em;

    @include respond-min($tablet-portrait) {
      text-align: left;
      font-size: 1.5em;
      overflow: hidden;
    }

    @include respond-max($phone-landscape) {
      @include flex-direction(column);
    }
  }

  h1 {
    @include font-heavy;
    @include small-size;
    text-transform: uppercase;
  }

  .development h1 {
    color: $yellow;
  }

  .development .button {
    background-color: $yellow;
  }

  .training h1 {
    color: $orange;
  }

  .training .button {
    background-color: $orange;
  }

  ul {
    margin-left: 0;
    margin-bottom: 1.5em;
  }

  li {
    @include base-size;
    list-style-type: none;

    @include respond-min($tablet-portrait) {
      text-align: left;
    }
  }

  aside {
    width: 11.5em;
    text-align: center;

    @include respond-max($phone-landscape) {
      margin: 0 auto;
    }
  }

  p {
    color: $dark-gray;
    font-size: 0.6em;
    margin: 1em 2em;

    @include respond-max($phone-landscape) {
      font-size: 0.8em;
    }
  }
}
