@import "fonts";
@import "colors";

#work {
  article {
    margin-left: -1em;
    margin-right: -1em;
    text-align: center;
    padding: 1.5em;
    &.development {
      background-color: rgba($yellow, 0.1);
    }
    &.training {
      background-color: rgba($orange, 0.1);
    }

    @include respond-min($tablet-portrait) {
      text-align: left;
      $offset: -7em;
      margin-left: $offset;
      margin-right: $offset;
      padding-left: abs($offset);
      padding-right: abs($offset);
      font-size: 1.5em;
    }
  }

  section {
    @include respond-min($tablet-portrait) {
      @include display(flex);
      @include justify-content(space-between);
    }
  }

  h1 {
    @include font-heavy;
    font-size: 1em;
    text-transform: uppercase;
  }

  .development h1 {
    color: $yellow;
  }

  .development .button {
    background-color: $yellow;
  }

  .training h1 {
    color: $orange;
  }

  .training .button {
    background-color: $orange;
  }

  ul {
    margin-left: 0;
    margin-bottom: 1.5em;
  }

  li {
    list-style-type: none;

    @include respond-min($tablet-portrait) {
      text-align: left;
    }
  }

  aside {
    max-width: 10em;

    @include respond-max($tablet-portrait) {
      margin: 0 auto;
    }
  }

  p {
    color: $dark-gray;
    font-size: 0.9em;
  }
}
